@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyFont';
  src: url('/assets/bodoni1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the custom font globally */
body {
  font-family: 'MyFont', Arial, Helvetica, sans-serif;
}



